body {
  color: #2f3640;
  font-size: 16px;
  line-height: 1;
  font-family: "Poppins", "Noto Serif KR", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  user-select: none;
}

body input {
  border: none;
  outline: none;
  background-color: transparent;
}

.inner {
  max-width: 1200px;
  height: 150px;
  margin: 50px auto 20px auto;
  padding: 0px 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none;
}

.signIn-wrap {
  margin-bottom: 10px;
}

.signIn-wrap .username {
  width: 200px;
  padding: 0px 10px;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #2f3640;
}

.signIn-wrap .signIn {
  border: 1px solid #2f3640;
  border-radius: 25px;
  padding: 5px 10px;
  margin: 5px;
  background-color: #353b48;
  color: #f5f6fa;
}

.signIn-wrap #greeting {
  font-size: 40px;
}

.time-weather-wrap #clock {
  display: block;
  font-size: 70px;
  margin-bottom: 5px;
}

.time-weather-wrap #weather {
  font-size: 18px;
  padding: 0px 10px;
}

.dday {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.dday #dday-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-bottom: 10px;
}

.dday #dday-form.hidden {
  display: none;
}

.dday #dday-form input.dday-title,
.dday #dday-form input.dday-date {
  width: 180px;
  margin-bottom: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #2f3640;
  padding: 5px 10px;
}

.dday #dday-form .error-message {
  font-size: 12px;
  color: #e84118;
  line-height: 1.4;
  text-align: center;
}

.dday .show-form {
  padding: 5px 15px;
  font-size: 18px;
  border: 1px solid #2f3640;
  border-radius: 20px;
  background-color: transparent;
  color: #2d3436;
  margin-bottom: 20px;
}

.dday .cancel-form {
  font-size: 16px;
  padding: 5px;
  border: 1px solid #2f3640;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 5px;
}

.dday #dday-form .add-dday {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  margin-top: 5px;
}

.dday .dday-list {
  overflow: auto;
}

.dday .dday-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dday .dday-list li span.d-day_title {
  margin-right: 20px;
  flex-grow: 1;
}

.dday .dday-list li span.d-day_leftTime {
  margin-right: 5px;
}
.dday .dday-list li .remove-dday {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Material Symbols Outlined";
  font-size: 16px;
  padding: 0px;
  cursor: pointer;
}

main {
  max-width: 980px;
  margin: 0px auto;
  padding: 0px 20px;
}

.todolist-wrap {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  margin-bottom: 10px;
}

.todolist-wrap h1 {
  font-size: 35px;
  margin-bottom: 10px;
}

.todolist-wrap #todo-form .todo-form_input {
  width: 300px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #2f3640;
  font-size: 18px;
  margin: 10px;
  padding: 0px 10px 5px 10px;
}
.todolist-wrap #todo-form .todo-form_input::placeholder {
  text-align: center;
}

.todolist-wrap #todo-list {
  width: 300px;
  margin-top: 10px;
}

.todolist-wrap #todo-list li {
  margin-bottom: 10px;
  padding: 0px 10px 3px 10px;
  border-bottom: 1px solid #718093;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todolist-wrap #todo-list li .todo-text input {
  display: none;
}

.todo-text {
  display: flex;
}

.todo-text.complete span {
  text-decoration: line-through;
}

.todo-text::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #2f3640;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  vertical-align: bottom;
  flex-shrink: 0;
}

.todo-text.complete::before {
  font-family: "Material Symbols Outlined";
  content: "\e5ca";
  background-color: #74b9ff;
  text-decoration: none;
}

.todolist-wrap #todo-list li button {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Material Symbols Outlined";
  font-size: 16px;
  cursor: pointer;
}

.quote-wrap {
  width: 980px;
  margin: 0 auto;
}

.quote-wrap #quote {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-wrap #quote span {
  display: block;
}
